<div style="margin-left: 30px; margin-right: 10px;">
    <form [formGroup]="form">
        <mat-form-field appearance="fill" style="margin-top:30px;">
            <mat-label>Name</mat-label>
            <input matInput maxlength="15" inputmode="tel" placeholder="Type name" formControlName="name" #nameInput>
            <mat-hint>Mini character 10: {{ nameInput.value.length }}/10</mat-hint>
            <mat-error>Name is required</mat-error>
            <mat-error *ngIf="form.controls['name'].errors?.['minlength']">
                Please enter more than 10 character
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" style="margin-top:10px;">
            <mat-label>Email :</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Your email">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-hint>Input the fully qualified email</mat-hint>
            <mat-error *ngIf="form.controls['email'].errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="form.controls['email'].errors?.['pattern']">Please enter valid email</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" style="margin-top:10px;">
            <mat-label>Address:</mat-label>
            <textarea matInput placeholder="address" formControlName="address"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" style="margin-top:10px;">
            <mat-label>Country</mat-label>
            <mat-select matNativeControl name="country" formControlName="country">
                <mat-option value="India">India</mat-option>
                <mat-option value="France">France</mat-option>
                <mat-option value="Germany">Germany</mat-option>
                <mat-option value="Japan">Japan</mat-option>
                <mat-option value="Keneda">Keneda</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <div>
            <div style="color:#000000; font-weight: bold; font-size: large; margin-top:10px;">
                <mat-label>Gender :-</mat-label>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <br>

        <mat-form-field class="example-full-width" appearance="fill" style="margin-top:10px;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <!-- <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-raised-button type="submit" value="submit" (click)="onSubmit()" style="cursor:pointer"
                class="btn btn-md btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Country</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let employ of employ; index as index">
                <td>{{employ.name}}</td>
                <td>{{employ.email}}</td>
                <td>{{employ.address}}</td>
                <td>{{employ.country}}</td>
                <td>{{employ.gender}}</td>
                <td>{{employ.dob}}</td>
                <td>
                    <button style="cursor:pointer" class="btn btn-md btn-primari"
                        (click)="editRow(employ, index)">Edit</button>

                    <button (click)="deleteRow(index)" style="cursor:pointer"
                        class="btn btn-md btn-denger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>