<nav>
    <ul>
        <li><a routerLink="/" routerLinkActive="red" [routerLinkActiveOptions]="{exact:true}" style="position: fixed;">Curd-Without-Api</a></li>
        <li><a routerLink="/app-curd-api" routerLinkActive="red" style="position: fixed;">Curd-Api</a></li>
        <li><a routerLink="/Material-Form" routerLinkActive="red" style="position: fixed;">Material-Form</a></li>
        <li><a routerLink="/post/index" routerLinkActive="red" style="position: fixed;">Post-Api</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>