.title {
    padding-right: 30px;
}

.table-id {
    padding-left: 15px;
}

.header,
th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.button {
    margin-bottom: 15px;
}

.btn-denger {
    color: red;
}

.btn-denger:hover {
    color: red;
}

.btn-primari {
    color: blue;
}

.btn-primari:hover {
    color: blue;
}

.btn-inof {
    color: rgb(71, 172, 172);
}

.btn-inof:hover {
    color: rgb(71, 172, 172);
}